body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-container {
    height: 200px;
    position: relative;
    display: grid;
    /* grid-template-columns: auto minmax(100px, 1170px) auto; */
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nav"
    "intro"
    "about"
    "service"
    "portfolio"
    "testimonials"
    "blog"
    "contact"
    "footer";
}

    #nav {
        grid-area: nav;
    }
    #intro {
        grid-area: intro;
        min-height: 100vh;
    }
    #about {
        grid-area: about;
    }
    #service {
        grid-area: service;
    }
    #portfolio {
        grid-area: portfolio;
        background-color: darkgrey;
    }
    #testimonials {
        grid-area: testimonials;
        background-color: green;
    }
    #blog {
        grid-area: blog;
        background-color: darkgrey;
    }
    #contact {
        grid-area: contact;
        background-color: green;
    }
    #footer {
        grid-area: footer;
        background-color: darkgrey;
    }
